# http://travis-ci.org/#!/FSX/misaka
language: python
python:
 - 2.6
 - 2.7
 - 3.2
 - 3.3
 - 3.4
 - 3.5
 - nightly
 # - pypy

before_install:
 - sudo apt-get install tidy

script:
 - python setup.py test
