# http://travis-ci.org/#!/FSX/misaka
language: python
python:
 - 2.7
 - 3.2
 - 3.3
 - 3.4
 - pypy

before_install:
 - sudo apt-get install tidy

install:
 - python setup.py install

script:
 - python setup.py test
