html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
::-moz-selection{background:#000;color:#fff;text-shadow:none;}
::selection{background:#000;color:#fff;text-shadow:none;}
pre ::-webkit-scrollbar{width:12px;}
pre ::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
pre ::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.5);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
html{-webkit-font-smoothing:subpixel-antialiased;}
body{font:1em/1.5em "Liberation Sans","Nimbus Sans L","FreeSans","Helvetica Neue",Helvetica,Arial,sans-serif;padding:50px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
sup{font-size:xx-small;vertical-align:super;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}a:link,a:visited{color:#556270;}
a:hover,a:active{color:#c44d58;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:.5em 1em;}
th{text-align:left;font-weight:bold;border-bottom:2px solid #999;}
td{border-bottom:1px solid #ddd;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-family:"Gentium Book Basic","Cambo","Bitstream Charter","URW Palladio L",Palatino,"Palatino Linotype","Book Antiqua",serif;}
p{margin:1.5em 0;}p img{max-width:100%;}
ol,ul{margin:1.5em 0;padding-left:2em;}ol ol,ul ol,ol ul,ul ul{margin-top:0;margin-bottom:0;padding-left:1.3em;}
ol p,ul p{margin-top:0;}
ul{list-style:none;padding-left:.5em;}ul ul{padding-left:0.3em;}
ul li{padding-left:1em;}
ul li:before{content:"\00BB \0020";margin-left:-0.9em;float:left;}
code{background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;font-size:.9em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
pre{margin:1.5em 0 1.5em;padding:.5em .7em;font-size:.9em;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
pre,code{font-family:'Envy Code R','Droid Sans Mono','Bitstream Vera Sans Mono','DejaVu Sans Mono',Inconsolata,Consolas,monospace;}
pre code{display:block;padding:0 0 .3em;overflow-x:auto;background:transparent;color:inherit;font-size:1em;}
#navigation h1{font-size:2em;margin:0 0 1em;}
#navigation a{padding:.5em;color:#444;text-decoration:none;}#navigation a:hover,#navigation a:active{background:#eee;color:#333;}
#index-section #nav-index,#changelog-section #nav-changelog,#manual-section #nav-manual,#api-section #nav-api{background:#eee;color:#333;}
#content{margin:4em 0 0;}#content h1{margin:0 0 .3em;font-size:1.8em;}#content h1 a:link,#content h1 a:visited{color:#000;text-decoration:none;}
#content h1 a:hover,#content h1 a:active{color:#C44D58;text-decoration:underline;}
#content h2{font-size:1.5em;}
#content h3{font-size:1.2em;}
#content h2,#content h3,#content h4,#content h5,#content h6{margin-top:2em;}
#content:after{clear:both;content:".";display:block;height:0;visibility:hidden;font-size:0;}
.toc{float:left;font-size:.9em;padding-right:50px;}.toc ul:first-child{margin-top:.1em;margin-bottom:5em;}
.toc a{text-decoration:none;}
.page{max-width:600px;float:left;}
#bottom{clear:both;color:#555;font-size:.8em;}#bottom a{color:#555555;}
.highlight{background:#242424;color:#f6f3e8;}
.highlight .hll{background-color:#ffffcc;}
.highlight .c{color:#99968b;font-style:italic;}
.highlight .err{color:#f6f3e8;}
.highlight .g{color:#f6f3e8;}
.highlight .k{color:#8ac6f2;}
.highlight .l{color:#f6f3e8;}
.highlight .n{color:#f6f3e8;}
.highlight .o{color:#f6f3e8;}
.highlight .x{color:#f6f3e8;}
.highlight .p{color:#f6f3e8;}
.highlight .cm{color:#99968b;font-style:italic;}
.highlight .cp{color:#e5786d;}
.highlight .c1{color:#99968b;font-style:italic;}
.highlight .cs{color:#99968b;font-style:italic;}
.highlight .gd{color:#f6f3e8;}
.highlight .ge{color:#f6f3e8;}
.highlight .gr{color:#f6f3e8;}
.highlight .gh{color:#f6f3e8;font-weight:bold;}
.highlight .gi{color:#f6f3e8;}
.highlight .go{color:#808080;background-color:#303030;}
.highlight .gp{color:#f6f3e8;}
.highlight .gs{color:#f6f3e8;}
.highlight .gu{color:#f6f3e8;font-weight:bold;}
.highlight .gt{color:#f6f3e8;}
.highlight .kc{color:#8ac6f2;}
.highlight .kd{color:#8ac6f2;}
.highlight .kn{color:#8ac6f2;}
.highlight .kp{color:#8ac6f2;}
.highlight .kr{color:#8ac6f2;}
.highlight .kt{color:#cae682;}
.highlight .ld{color:#f6f3e8;}
.highlight .m{color:#e5786d;}
.highlight .s{color:#95e454;font-style:italic;}
.highlight .na{color:#cae682;}
.highlight .nb{color:#f6f3e8;}
.highlight .nc{color:#f6f3e8;}
.highlight .no{color:#e5786d;}
.highlight .nd{color:#f6f3e8;}
.highlight .ni{color:#e7f6da;}
.highlight .ne{color:#f6f3e8;}
.highlight .nf{color:#cae682;}
.highlight .nl{color:#f6f3e8;}
.highlight .nn{color:#f6f3e8;}
.highlight .nx{color:#f6f3e8;}
.highlight .py{color:#f6f3e8;}
.highlight .nt{color:#8ac6f2;}
.highlight .nv{color:#cae682;}
.highlight .ow{color:#f6f3e8;}
.highlight .w{color:#f6f3e8;}
.highlight .mf{color:#e5786d;}
.highlight .mh{color:#e5786d;}
.highlight .mi{color:#e5786d;}
.highlight .mo{color:#e5786d;}
.highlight .sb{color:#95e454;font-style:italic;}
.highlight .sc{color:#95e454;font-style:italic;}
.highlight .sd{color:#95e454;font-style:italic;}
.highlight .s2{color:#95e454;font-style:italic;}
.highlight .se{color:#95e454;font-style:italic;}
.highlight .sh{color:#95e454;font-style:italic;}
.highlight .si{color:#95e454;font-style:italic;}
.highlight .sx{color:#95e454;font-style:italic;}
.highlight .sr{color:#95e454;font-style:italic;}
.highlight .s1{color:#95e454;font-style:italic;}
.highlight .ss{color:#95e454;font-style:italic;}
.highlight .bp{color:#f6f3e8;}
.highlight .vc{color:#cae682;}
.highlight .vg{color:#cae682;}
.highlight .vi{color:#cae682;}
.highlight .il{color:#e5786d;}
