/* --- html5doctor.com Reset Stylesheet v1.4.1, 2010-03-01
   --- Author: Richard Clark - http://richclarkdesign.com
--------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent }

body {
  line-height: 1em }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block }

nav ul { list-style: none }

blockquote, q { quotes: none }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent }
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none }
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold }
del { text-decoration: line-through }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help }

table {
  border-collapse: collapse;
  border-spacing: 0 }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0 }

input, select { vertical-align: middle }

p, ul { margin: 1.5em 0 }
img { margin: 0;padding: 0;max-width: 740px }


/* --- Content styling
--------------------------------------------------------------------*/

html, body { height: 100% }
body {
  color: #444;
  font-size: 1em;
  font-family: 'DejaVu Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 1.6em }

h1 { font-family: 'Sorts Mill Goudy', Georgia, 'DejaVu Serif', 'Bitstream Vera Serif', serif }
h1, h2, h3, h4, h5, h6 {
  font-weight: normal }

h1 { margin: 0.5em 0;font-size: 4.5em }
h2 {
   margin: 0.75em 0;
   font-size: 1.5em;
   line-height: 1.2em;
   padding-top: 1em;
   border-top: 4px solid #E0E0E0 }
h3 {
  margin: 2em 0 1em;
  font-size: 1.1em;
  line-height: 1em }
h4 {
  margin: 1.25em 0;
  font-size: 1.4em;
  line-height: 1.25 }
h5 { margin: 1.5em 0;font-size: 1.2em; }
h6 { font-size: 1.2em }

a:link, a:visited { color: #333  }
a:hover, a:active { color: #c00  }
a img { border: 4px solid #ddd }
a:hover img { border-color: #C4D7FF }

ul, ol {
  margin: 0 0.5em 1.5em;
  padding-left: 2.5em }
li ul, li ol {
  margin: 0;
  padding-left: 1.5em }

table, th, td {
  border-color: #bbb;
  border-style: solid }
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0 0 1px 1px }
th, td {
  padding: 0.3em 1em;
  border-width: 1px;
  border-left-color: #f1f1f1;
  text-align: left }
th {
  background: #eee;
  border-bottom-color: #ddd;
  font-weight: bold }
td {
  border-bottom-color: #efefef;
  font-weight: normal }

code {
  padding: 1px 3px;
  background: #eee;
  color: #555 }
pre {
  overflow-x: auto;
  margin: 1.5em 0 1.5em;
  padding: 0.5em 0 0.5em 1.5em;
  color: #222;
  background: #fafafa;
  border: 1px solid #ccc;
  border-width: 1px 0 }
pre, code {
  font-family: Inconsolata, 'DejaVu Sans Mono', Consolas, 'Lucida Console', monospace }
pre code {
  display: block;
  white-space: pre;
  background: inherit;
  color: inherit }

#wrapper {
  margin: 0 auto;
  width: 65%;
  min-width: 800px }

#header, #content { margin: 0 25% }
#content { padding-bottom: 1.5em }

#sidebar {
  float: left;
  width: 21%;
  font-size: .9em;
  text-align: right;
  line-height: 2em; }

#sidebar ul {
  margin: 0;
  padding: 0 }

#sidebar a { text-decoration: none }

#sidebar li ul li ul {
  padding-right: 1.8em }

.note {
  margin: 1.5em 0;
  border: 1px solid #9F6000;
  color: #9F6000;
  background: #FEEFB3;
  padding: .01em .6em;
  font-size: .8em }
.note p {
  margin: 1em }

/* --- Pygments
--------------------------------------------------------------------*/

.highlight pre { margin: 0 }

.hll { background-color: #ffffcc }
.c { color: #666 } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #008800; font-weight: bold } /* Keyword */
.cm { color: #888888 } /* Comment.Multiline */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.c1 { color: #888888 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #303030 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #606060 } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008800 } /* Keyword.Pseudo */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.na { color: #336699 } /* Name.Attribute */
.nb { color: #003388 } /* Name.Builtin */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
.no { color: #003366; font-weight: bold } /* Name.Constant */
.nd { color: #555555 } /* Name.Decorator */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
.nl { color: #336699; font-style: italic } /* Name.Label */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.py { color: #336699; font-weight: bold } /* Name.Property */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.nv { color: #336699 } /* Name.Variable */
.ow { color: #008800 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
.vc { color: #336699 } /* Name.Variable.Class */
.vg { color: #dd7700 } /* Name.Variable.Global */
.vi { color: #3333bb } /* Name.Variable.Instance */
.il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
